* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(60, 56, 56);
  color: white;
  overflow-x: hidden;
}

/* Main Section */

/* Header section */

#header-container {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 100;
}

/* #header-container{ */

html {
  scroll-behavior: smooth;
}

nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 5;
}

#logo {
  margin: 25px;
  font-size: 25px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

#background-img {
  font-weight: bold;
  width: 100%;
  height: 100vh;
  background-image: url(Photos/IMG_4124.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: black; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-attachment: fixed;
  border-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro p {
  font-size: 35px;
  max-width: max-content;
  background-color: black;
}

#intro h1 {
  font-size: 100px;
  max-width: max-content;
  background-color: black;
  margin-top: 15px;
}

/* End of Header section */

/* Main section */

/* About section  */

#about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 100px 30px 0 30px;
  height: auto;
}

#PFP {
  flex-basis: 35%;
}

#PFP img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: contain;
}

.about {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  padding: 15px;
  height: auto;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  margin-top: 0;
  font-size: 25px;
}

/* End of about section */

/* Experience/Skills section */

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.tab-links {
  color: white;
  font-size: 28px;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-links:hover::after {
  width: 100%;
}

.tab-cont {
  font-size: 20px;
  height: auto;
  display: none;
}

.active-cont {
  display: block;
}

.description {
  font-size: 1.1rem;
  padding-left: 15px;
}

/* End of Experience/Skills section */

/* Project Section */

#Projects-section {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*   background-color: blue ;*/
  padding: 100px 40px 0 40px;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  grid-gap: 75px;
  margin: auto;
  justify-content: center;
  /* display: flex; 
  flex-direction: row;
  column-gap: 75px;
  row-gap: 75px;
  flex-wrap: wrap; */

  /*  grid-template-columns: repeat(3, 300px); 
  grid-gap: 75px; */
}

.projects {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.projects img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  transition: height 0.5s;
}

.layer p,
h3,
a {
  padding: 0 25px;
}

.layer h3 {
  padding-top: 25px;
}

.layer a {
  padding-top: 15px;
}

.projects:hover img {
  transform: scale(1.1);
}

.projects:hover .layer {
  height: 350px;
}

/* End of Project Section */

/* Contact Info Section */

#Contact-section {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 100px 40px;
  width: 100%;
  /*  background-color: green; */
}

#Contact-title {
  margin-bottom: 50px;
}

.contact-list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.links {
  display: flex;
  flex-direction: column;
}

/* #email {
  background: url(Photos/iconmonstr-email-10-240.png) no-repeat;
  background-size: 28px;
  background-position: 10px;
  height: 30px;
  padding-top: 10px;
  padding-left: 40px;
} */

#Resume-button {
  margin-bottom: 50px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 15px;
  border: none;
  height: 75px;
  width: 200px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  margin-left: -20px;
}

#profiles {
  display: flex;
  flex-direction: row;
  margin-left: -25px;
  /* column-gap: 10px; */
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* End of Contact Info Section */

/* End of  Main Section */

/* css for smaller screens */

.Menu {
  display: none;
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 600px) {
  /* Side bar css for small screen */
  #Menu-out {
    display: block;
    padding: 0 40px;
  }
  #Menu-in {
    display: block;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background: rgb(184, 3, 3);
    position: fixed;
    top: 0;
    right: -100%;
    width: max-content;
    height: 100vh;
    padding-top: 20px;
    margin-right: 0;
    z-index: 6;
    transition: 0.5s ease-out;
  }
  /* 
  .open{
    display: flex;
  
  } */

  /* End of Side bar css for small screen */

  /* about section */

  #about-section {
    width: 90%;
    height: auto;
  }

  #PFP {
    flex-basis: 100%;
  }

  .about {
    flex-basis: 100%;
  }

  h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .about p {
    margin-top: 0;
    font-size: 15px;
  }

  /* end of about section */

  /* Experience/Skills section */
  .tab-cont {
    font-size: 15px;
  }

  .tabs {
    column-gap: 25px;
  }

  /* End of Experience/Skills section */
}

/*
@media (max-width: 768px){
  profiles{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480){
  profiles{
    grid-template-columns: repeat(1, 1fr);
  }
}
 */
/* End of Contact Info Section */

/* Scroll bar customization */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll bar customization */
