body{
  background-color:rgb(60, 56, 56);
  color: white;
}

/* Header section */
#header-container{
  font-weight: bold;
  width: 100%;
  height: 100vh;
  background-image: url(Photos/IMG_4124.JPG);
  background-size: cover; 
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo{
  margin-left: 15px;
  font-size: 25px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 25px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

nav ul li a::after{
  content:'';
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: .5s;
}

nav ul li a:hover::after{
  width: 100%;
}

#intro{
  margin-top: 225px;
  margin-left: 100px;
}

#intro p{
  font-size: 35px;
  max-width: max-content;
  background-color: black;
  margin: 0;
}

#intro h1{
  font-size: 55px;
  max-width: max-content;
  background-color: black;
  margin-top: 15px;

}

/* End of Header section */

/* Main section */

/* About section  */

#about-section{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#PFP {
  flex-basis: 35%;
  height: 600px;
  flex-shrink: 0;
}

#PFP img{
  width: 100%;
  height: 600px;
  border-radius: 15px;
  object-fit: contain;
}

.about{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

h2{
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  margin-top: 0;
  font-size: 25px;
}

/* End of about section */

/* Experience/Skills section */

#Experiences-Skills{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  height: 100vh;
/*   margin: calc(50% - 50vw) calc(50% - 50vw); */
/*   padding: calc(50vw - 50%) calc(50vw - 50%); */
}

.tabs{
  display: flex;
  justify-content: space-around;

}

.tab-links{
  color: white;
  font-size: 28px;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content:'';
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: .5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-links:hover::after{
  width: 100%;
}


.tab-cont {
  font-size: 20px;
  height: 250px;
  display: none;
}

.active-cont{
  display:block;
}

/* End of Experience/Skills section */

/* Project Section */

#Projects-section{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Project-title{
  margin: 0 75px;

}
#project-grid{
  display: flex; 
  flex-direction: row;
  column-gap: 75px;
  row-gap: 75px;
  flex-wrap: wrap;
  margin: 30px 75px;

 /*  grid-template-columns: repeat(3, 300px); 
  grid-gap: 75px; */
}

.project-img{
  height: 350px;
  width: 300px;
}

#project-grid div{
  width: 300px;
  height: 350px;
  background-color: aqua;
}

.layer{
  position: absolute;
  padding-top: 50px;
  padding-left: 20px;
  width: 280px;
  height: 300px;
  margin-top: 0;
  color: rgba(0,0,0,0);;
  background-color: rgba(0,0,0,0);
  transition: .5s;
}

.layer:hover{
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,.7);
}

/* End of Project Section */

/* Contact Info Section */

#Contact-Info{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 100px 75px;
}


#Contact-title{
 margin-bottom: 50px;
}

#profiles{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

/* 
@media (max-width: 768px){
  profiles{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480){
  profiles{
    grid-template-columns: repeat(1, 1fr);
  }
}
 */
/* End of Contact Info Section */



/* Scroll bar customization */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Scroll bar customization */