body{
  background-color:rgb(60, 56, 56);
  color: white;
}

/* Header section */
#header-container{
  /* background-color: rgb(154, 0, 0); */
  font-weight: bold;
  width: 100%;
  height: 100vh;
/*   margin: calc(50% - 50vw) calc(50% - 50vw);
  padding: calc(50vw - 50%) calc(50vw - 50%); */
  background-image: url(Photos/IMG_4124.JPG);
  background-size: cover; 
  background-position: center;
  
}

nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo{
  margin-left: 15px;
  font-size: 25px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 25px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

nav ul li a::after{
  content:'';
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: .5s;
}

nav ul li a:hover::after{
  width: 100%;
}

#intro{
  margin-top: 225px;
  margin-left: 100px;
}

#intro p{
  font-size: 35px;
  max-width: max-content;
  background-color: black;
  margin: 0;
}

#intro h1{
  font-size: 55px;
  max-width: max-content;
  background-color: black;
  margin-top: 15px;

}

/* End of Header section */

/* Main section */

/* About section  */

#about-section{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#PFP {
  flex-basis: 35%;
  height: 600px;
  flex-shrink: 0;
}

#PFP img{
  width: 100%;
  height: 600px;
  border-radius: 15px;
  object-fit: contain;
}

.about{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-left: 15px;
}

h2{
  font-size: 40px;
  margin-bottom: 0;
}

.about p {
  margin-top: 0;
  font-size: 20px;
}

/* End of about section */

/* Experience/Skills section */

#Experiences-Skills{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  height: 100vh;
/*   margin: calc(50% - 50vw) calc(50% - 50vw); */
/*   padding: calc(50vw - 50%) calc(50vw - 50%); */
}




/* End of Experience/Skills section */

/* Scroll bar customization */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Scroll bar customization */